$primary-color: #352d38;
$primary-color-light: #584c5c;
$secondary-color: #ffb800;

$white: #fff;
$black: #000;

$image-border: rgba($primary-color, .1);

$base-font-size: 15px;
$line-height: $base-font-size * 1.6;
